@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: black;
  padding: 5px;
}
header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 90px 0px 0px;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul a {
  color: white;
  text-decoration-line: none;
  font-family: "Abel", sans-serif;
}
header nav ul a:hover {
  text-decoration: underline;
}
header h4 {
  font-family: ui-sans-serif;
}
header h5 {
  font-family: ui-sans-serif;
}

.navbar-toggler {
  background-color: white;
}

.navbar {
  visibility: hidden;
}

.logoBarber {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.logoBarber:hover {
  width: 90px;
  height: 90px;
}

footer {
  color: white;
  background-color: black;
}
footer h4 {
  font-family: "Playfair Display", serif;
}

.row {
  margin: 0px;
}
.row .logoWpp {
  width: 75px;
  height: 75px;
}
.row .logoWpp:hover {
  padding: 5%;
}

h1 {
  color: black;
  font-size: xxx-large;
  font-family: "Playfair Display", serif;
}

.barberia {
  background: url("../assets/barberia.jpeg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  height: 100vh;
}
.main h2 {
  font-family: "Abel", sans-serif;
  margin-bottom: 5px;
  margin-right: 6px;
}
.main p {
  font-family: "Playfair Display", serif;
}
.main .orden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 65px 0 24px 0px;
}
.main .orden .izquierda {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 5% 0% 9%;
}
.main .orden .izquierda .cortesia {
  color: darkgoldenrod;
  font-style: italic;
}
.main .orden .izquierda .imgTurno {
  width: 95%;
  height: 95%;
  margin-top: 35px;
}
.main .orden .derecha {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 0 5% 0;
}
.main .orden .derecha .servicio {
  margin: 5% 0 10% 0;
}

.productos {
  padding: 65px 0 30px 0px;
}

.descProductos {
  padding: 0px 0px 65px 0px;
}

h3 {
  font-family: "Abel", sans-serif;
  margin-bottom: 3%;
}

.grids {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1, 1fr);
}

.grids > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grids > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grids > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grids .item1, .grids .item3, .grids .item2 {
  text-align: center;
}
.grids .item1 .pomadas, .grids .item3 .pomadas, .grids .item2 .pomadas {
  width: 85%;
  height: 55%;
}
.grids .item2 .lentes {
  width: 90%;
  height: 70%;
}
.grids .item3 .vapers {
  width: 90%;
  height: 55%;
}

.main {
  height: 100vh;
}

.cursoTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 0 25px 0;
}

.descripcion {
  text-align: center;
}

.flexCurso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flexCurso .opcion-1 {
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexCurso .opcion-1 .img1 {
  width: 100%;
  height: 100%;
}
.flexCurso .imgCurso {
  width: 39%;
}
.flexCurso .imgCurso .img2 {
  width: 100%;
  height: 100%;
}
.flexCurso .opcion-2 {
  width: 30%;
}
.flexCurso .opcion-2 .img3 {
  width: 100%;
  height: 100%;
}

.main {
  height: 100vh;
}
.main .parteArriba {
  padding: 48px 0 8px 0;
}
.main .parteArriba .primerP {
  padding: 2rem 0 0 0;
}
.main .parteArriba .ultima-foto {
  width: 100%;
  height: 90%;
}
.main .parteArriba .d-flex {
  font-size: large;
  padding: 5% 0 0 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main .parteArriba .d-flex a {
  color: black;
  text-decoration-line: none;
}
.main .parteArriba .d-flex a:hover {
  text-decoration: underline;
}
.main .parteArriba .d-flex a .logoIgTiktok {
  width: 20%;
  height: 95%;
}
.main .parteArriba .d-flex a .logoIgTiktok:hover {
  width: 24%;
}
.main .parteArriba .d-flex a .logoGmail {
  width: 20%;
  height: 80%;
}
.main .parteArriba .d-flex a .logoGmail:hover {
  width: 24%;
}
.main aside .parteIzq {
  width: 70%;
}
.main aside .parteIzq .d-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.main aside .parteIzq .logoUbi {
  width: 10%;
}
.main aside .parteIzq .logoHora {
  width: 10%;
}
.main aside .parteDer {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main aside .parteDer ç p {
  margin-bottom: 10px;
}
.main aside .parteDer a {
  color: black;
  text-decoration-line: none;
}
.main aside .parteDer a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 35px 0px 0px;
  }
  header nav ul a {
    font-size: 85%;
  }
  .logoBarber {
    width: 65px;
    height: 65px;
  }
  .logoBarber:hover {
    width: 40px;
    height: 40px;
  }
  .main .orden {
    margin: 0px;
  }
  .main .orden .izquierda {
    width: 100%;
  }
  .main .orden .izquierda .pResponsive {
    padding-top: 15%;
  }
  .main .orden .derecha {
    width: 100%;
    margin: 8% 0 5% 0;
  }
  .main .orden .derecha .servicio {
    text-align: center;
  }
  .ultima-foto {
    width: 100%;
    height: 90%;
  }
  a {
    font-size: 76%;
  }
  .alignFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 45px;
  }
  header nav ul a {
    font-size: 70%;
  }
  header nav ul .logoBarber {
    width: 50px;
    height: 50px;
  }
  header nav ul .logoBarber:hover {
    width: 40px;
    height: 40px;
  }
  h1 {
    font-size: xx-large;
  }
  .main .orden {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .main .orden .izquierda {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px;
    width: 100%;
    height: 50vh;
  }
  .main .orden .izquierda .tamañoResponsive {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10% 5% 5% 10%;
  }
  .main .orden .izquierda .tamañoResponsive p {
    font-size: small;
    padding-top: 12%;
  }
  .main .orden .izquierda .imgTurno {
    width: 85%;
    height: 85%;
    margin: 50px 0px 0px 20px;
  }
  .main .orden .derecha {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50vh;
    margin: 0px;
  }
  .main .orden .derecha .servicio {
    margin: 10% 2% 5% 7%;
    text-align: center;
  }
  .flexCurso {
    padding: 25px 0 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexCurso .opcion-1 {
    width: 75%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 1%;
  }
  .flexCurso .imgCurso {
    width: 80%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 1%;
  }
  .flexCurso .opcion-2 {
    width: 75%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main .parteArriba {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 0 0;
  }
  .main .parteArriba .section-1 {
    padding: 0 50px 0 50px;
  }
  .main .parteArriba .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .parteArriba .section-2 .ultima-foto {
    width: 75%;
  }
  .main .parteArriba .section-3 {
    padding: 20px 0 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .parteArriba .section-3 .redes {
    padding: 15px 0 0px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .main .parteArriba .section-3 .redes .d-flex {
    padding: 0% 0 0 0;
  }
  .main .parteArriba .section-3 .redes .d-flex a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main .parteArriba .section-3 .redes .d-flex a .logoIgTiktok:hover {
    width: 25%;
  }
  .main .parteArriba .section-3 .redes .d-flex a .logoGmail:hover {
    width: 25%;
  }
  .main aside .parteIzq {
    padding-bottom: 5px;
  }
  .main aside .parteIzq .logoUbi {
    width: 10%;
  }
  .main aside .parteIzq p {
    margin-bottom: 10px;
  }
  .main aside .parteDer {
    padding-bottom: 0px;
  }
  .alignFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 425px) {
  header nav {
    padding-bottom: 6%;
  }
  header nav .primerNav {
    visibility: hidden;
  }
  header nav .primerNav a {
    font-size: 70%;
  }
  header .navbar {
    visibility: visible;
  }
  header .navbar h4 {
    font-size: small;
  }
  h1 {
    font-weight: 600;
  }
  .main .orden .izquierda {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main .orden .izquierda .tamañoResponsive {
    width: 100%;
    padding-top: 5%;
  }
  .main .orden .izquierda .tamañoResponsive p {
    padding-top: 0%;
  }
  .main .orden .izquierda .imgTurno {
    width: 90%;
    height: 70%;
    margin: 0px 5% 0px 5%;
  }
  .main .orden p {
    font-size: small;
    margin: 1%;
  }
  .main .orden .derecha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 10% 0 0 0;
  }
  .main .orden .derecha .servicio {
    margin: 3% 0 3% 0;
  }
  .productos {
    text-align: center;
    padding: 15px 0 20px 0px;
  }
  .descProductos {
    padding: 0px 10px 0px 10px;
  }
  h3 {
    margin-bottom: 3%;
  }
  .grids {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: ()[3];
    grid-template-rows: repeat(3);
  }
  .grids > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grids > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grids > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grids .item1, .grids .item2, .grids .item3 {
    height: 228px;
  }
  .grids .item1 .pomadas, .grids .item2 .pomadas, .grids .item3 .pomadas {
    width: 65%;
    height: 180px;
  }
  .grids .item2 {
    height: 225px;
  }
  .grids .item2 .lentes {
    width: 55%;
    height: 77%;
  }
  .grids .item3 {
    height: 225px;
  }
  .grids .item3 .vapers {
    width: 70%;
    height: 75%;
  }
  .main .parteArriba {
    padding: 20px 0 0px 0;
  }
  .main .parteArriba .primerP {
    padding: 1rem 0 0 0;
  }
  .main .parteArriba .section-3 {
    padding: 20px 0 20px 0px;
  }
  .main .parteArriba .section-3 .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .main .parteArriba .section-3 .redes .logoIgTiktok {
    width: 18%;
  }
  .main .parteArriba .section-3 .redes .logoGmail {
    width: 18%;
  }
  .main aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main aside .parteIzq {
    width: 100%;
  }
  .main aside .parteIzq .d-flex {
    padding: 0px 10px 0 10px;
  }
  .main aside .parteDer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main aside .parteDer p {
    margin-bottom: 8px;
  }
  .main aside .parteDer a {
    padding-left: 4px;
    font-size: medium;
  }
}
@media (max-width: 375px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul a {
    font-size: 70%;
  }
  h1 {
    font-size: x-large;
  }
  .main p {
    font-size: small;
    margin: 1%;
  }
  .main .derecha {
    margin: 15% 0 0 0;
  }
  .main .derecha .servicio {
    margin: 3% 0 3% 0;
  }
  .productos {
    font-size: x-large;
    padding: 15px 0 10px 0px;
  }
  .descProductos {
    font-size: smaller;
  }
  h3 {
    font-size: large;
  }
}
@media (max-width: 320px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul a {
    font-size: 70%;
  }
  h1 {
    font-size: large;
  }
  .main .orden .derecha {
    margin: 0;
  }
  .main .orden .derecha .servicio {
    margin: 5% 0 5% 0;
  }
  .productos {
    font-size: 25px;
  }
  .parteArriba h2 {
    font-size: large;
  }
}