@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navPrincipal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: black;
  padding: 10px;
}
header .navPrincipal ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 90px 0px 0px;
  margin: 0px;
  align-items: center;
}
header .navPrincipal ul a {
  color: white;
  text-decoration-line: none;
  font-family: "Abel", sans-serif;
}
header .navPrincipal ul a:hover {
  text-decoration: underline;
}
header .navPrincipal h4 {
  font-family: ui-sans-serif;
}
header .navPrincipal h5 {
  font-family: ui-sans-serif;
}
header .navbar {
  visibility: hidden;
}
header .navbar .navbar-toggler {
  background-color: white;
}
header .logoBarber {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
header .logoBarber:hover {
  transform: scale(1.1);
}

footer {
  color: white;
  background-color: black;
}
footer h4 {
  font-family: "Playfair Display", serif;
}
footer p {
  font-family: "Playfair Display", serif;
}

.row {
  margin: 0px;
}
.row .logoWpp {
  width: 75px;
  height: 75px;
}
.row .logoWpp:hover {
  transform: scale(1.1);
}

h1 {
  color: black;
  font-size: xxx-large;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.barberia {
  background: url("../assets/barberia.jpeg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barberia h4 {
  font-family: "Playfair Display", serif;
}
.barberia p {
  font-family: "Playfair Display", serif;
}

.main {
  height: 100vh;
}
.main h2 {
  font-family: "Abel", sans-serif;
  margin-bottom: 5px;
  margin-right: 6px;
}
.main p {
  font-family: "Lora", serif;
}
.main .orden {
  display: flex;
  flex-direction: row;
  padding: 115px 0 24px 0px;
}
.main .orden .izquierda {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 5px 5% 0% 9%;
}
.main .orden .izquierda .cortesia {
  color: darkgoldenrod;
  font-style: italic;
}
.main .orden .izquierda .imgTurno {
  width: 95%;
  height: 95%;
  margin-top: 35px;
}
.main .orden .derecha {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 5% 0 5% 0;
}
.main .orden .derecha .servicio {
  margin: 5% 0 10% 0;
}

.paddingMain {
  padding-top: 100px;
}
.paddingMain .productos {
  text-align: center;
  padding: 25px 0 20px 0px;
}
.paddingMain .descProductos {
  text-align: center;
  padding: 0px 0px 65px 0px;
}
.paddingMain h3 {
  font-family: "Abel", sans-serif;
  margin-bottom: 3%;
}
.paddingMain .grids {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.paddingMain .grids .item1, .paddingMain .grids .item3, .paddingMain .grids .item2 {
  text-align: center;
}
.paddingMain .grids .item1 .pomadas, .paddingMain .grids .item3 .pomadas, .paddingMain .grids .item2 .pomadas {
  width: 85%;
  height: 55%;
}
.paddingMain .grids .item1 .pomadas:hover, .paddingMain .grids .item3 .pomadas:hover, .paddingMain .grids .item2 .pomadas:hover {
  transform: scale(1.1);
}
.paddingMain .grids .item2 .lentes {
  width: 90%;
  height: 70%;
}
.paddingMain .grids .item2 .lentes:hover {
  transform: scale(1.1);
}
.paddingMain .grids .item3 .vapers {
  width: 90%;
  height: 55%;
}
.paddingMain .grids .item3 .vapers:hover {
  transform: scale(1.1);
}

.main {
  height: 100vh;
}

.cursoTitulo {
  display: flex;
  justify-content: center;
  padding: 20px 0 25px 0;
}

.descripcion {
  text-align: center;
}

.flexCurso {
  display: flex;
  align-items: center;
  padding: 50px 0 50px 0;
  justify-content: space-around;
}
.flexCurso .opcion-1 {
  width: 30%;
  align-items: center;
}
.flexCurso .opcion-1 .img1 {
  width: 100%;
  height: 100%;
}
.flexCurso .opcion-1 .img1:hover {
  filter: saturate(200%);
}
.flexCurso .imgCurso {
  width: 39%;
}
.flexCurso .imgCurso .img2 {
  width: 100%;
  height: 100%;
}
.flexCurso .opcion-2 {
  width: 30%;
}
.flexCurso .opcion-2 .img3 {
  width: 100%;
  height: 100%;
}
.flexCurso .opcion-2 .img3:hover {
  filter: saturate(200%);
}

.main {
  height: 100vh;
  color: black;
}
.main .parteArriba .section-1 {
  background-color: rgb(205, 141, 30);
  border-radius: 15%;
}
.main .parteArriba .ultima-foto {
  width: 100%;
  border-radius: 3%;
}
.main .parteArriba .ultima-foto:hover {
  filter: grayscale(80%);
}
.main .parteArriba .section-3 {
  background-color: rgb(158, 158, 158);
  border-radius: 15%;
}
.main .parteArriba .section-3 a {
  color: black;
  text-decoration-line: none;
}
.main .parteArriba .section-3 a:hover {
  text-decoration: underline;
}
.main .parteArriba .section-3 a .logoIgTiktok, .main .parteArriba .section-3 a .logoGmail {
  width: 60px;
}
.main .parteArriba .section-3 a .logoIgTiktok:hover, .main .parteArriba .section-3 a .logoGmail:hover {
  transform: scale(1.1);
}
.main .parteArriba .section-3 a .logoGmail:hover {
  transform: scale(1.1);
}
.main .parteInfer .parteIzq {
  width: 70%;
}
.main .parteInfer .parteIzq a {
  color: black;
  text-decoration-line: none;
}
.main .parteInfer .parteIzq a:hover {
  text-decoration: underline;
}
.main .parteInfer .parteIzq .logoUbi {
  width: 9.5%;
}
.main .parteInfer .parteIzq .logoUbi:hover {
  transform: scale(1.1);
}
.main .parteInfer .parteIzq .logoHora {
  width: 10%;
}
.main .parteInfer .parteDer {
  display: flex;
  flex-direction: column;
}
.main .parteInfer .parteDer p {
  color: black;
}
.main .parteInfer .parteDer a {
  color: black;
  text-decoration-line: none;
}
.main .parteInfer .parteDer a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  header nav ul {
    justify-content: space-between;
    padding: 0px 35px 0px 0px;
  }
  header nav ul a {
    font-size: 85%;
  }
  header .logoBarber {
    width: 65px;
    height: 65px;
  }
  .main .orden {
    margin: 0px;
  }
  .main .orden .izquierda {
    width: 100%;
  }
  .main .orden .izquierda .pResponsive {
    padding-top: 15%;
  }
  .main .orden .derecha {
    width: 100%;
    margin: 8% 0 5% 0;
  }
  .main .orden .derecha .servicio {
    text-align: center;
  }
  .paddingMain .productos {
    padding: 15px 0 20px 0px;
  }
  .ultima-foto {
    width: 100%;
  }
  a {
    font-size: 76%;
  }
  .ubicacion {
    font-size: 16px;
  }
  .alignFooter {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  header nav ul {
    justify-content: space-between;
    padding-right: 45px;
  }
  header nav ul a {
    font-size: 70%;
  }
  header nav ul .logoBarber {
    width: 50px;
    height: 50px;
  }
  h1 {
    font-size: xx-large;
  }
  .main .orden {
    flex-direction: column;
    padding: 50px 0 0 0;
  }
  .main .orden .izquierda {
    flex-direction: row;
    margin: 0px;
    width: 100%;
  }
  .main .orden .izquierda .tamañoResponsive {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10% 5% 5% 10%;
  }
  .main .orden .izquierda .tamañoResponsive p {
    font-size: small;
    padding-top: 12%;
  }
  .main .orden .izquierda .imgTurno {
    height: 80%;
    margin: 50px 0px 0px 0px;
  }
  .main .orden .derecha {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    margin: 0px;
  }
  .main .orden .derecha .servicio {
    margin: 10% 2% 5% 7%;
    text-align: center;
  }
  .flexCurso {
    padding: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
  }
  .flexCurso .opcion-1 {
    width: 75%;
    order: 2;
    padding-bottom: 1%;
  }
  .flexCurso .imgCurso {
    width: 80%;
    order: 1;
    padding-bottom: 1%;
  }
  .flexCurso .opcion-2 {
    width: 75%;
    order: 3;
  }
  .main .paddingMain {
    padding-top: 70px;
  }
  .main .paddingMain .parteArriba {
    flex-direction: column;
    padding: 20px 0 0 0;
  }
  .main .paddingMain .parteArriba .section-1 {
    padding: 0 50px 0 50px;
    border-radius: 0%;
  }
  .main .paddingMain .parteArriba .ultima-foto {
    width: 80%;
    border-radius: 0%;
  }
  .main .paddingMain .parteArriba .section-3 {
    padding: 20px 0 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0%;
  }
  .main .paddingMain .parteArriba .section-3 .redes {
    padding: 15px 0 0px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .main .paddingMain .parteArriba .section-3 .redes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main .paddingMain .parteInfer .parteIzq {
    padding-bottom: 5px;
  }
  .main .paddingMain .parteInfer .parteIzq .logoUbi {
    width: 10%;
    padding: 5px;
  }
  .main .paddingMain .parteInfer .parteIzq p {
    margin-bottom: 10px;
  }
  .main .paddingMain .parteInfer .parteDer {
    padding-bottom: 0px;
  }
  .alignFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 425px) {
  header nav {
    padding-bottom: 6%;
  }
  header .navPrincipal {
    visibility: hidden;
  }
  header .navPrincipal a {
    font-size: 70%;
  }
  header .navbar {
    visibility: visible;
  }
  header .navbar h4 {
    font-size: small;
  }
  h1 {
    font-weight: 600;
  }
  .main .orden {
    padding-top: 85px;
  }
  .main .orden .izquierda {
    flex-direction: column;
    width: 100%;
  }
  .main .orden .izquierda .tamañoResponsive {
    width: 100%;
    padding-top: 5%;
  }
  .main .orden .izquierda .tamañoResponsive p {
    padding-top: 0%;
  }
  .main .orden .izquierda .imgTurno {
    width: 90%;
    height: 70%;
    margin: 0px 5% 0px 5%;
  }
  .main .orden p {
    font-size: small;
    margin: 1%;
  }
  .main .orden .derecha {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .main .orden .derecha .servicio {
    margin: 3% 0 3% 0;
  }
  .paddingMain .descProductos {
    padding: 0px 10px 15px 10px;
  }
  .paddingMain h3 {
    margin-bottom: 3%;
  }
  .paddingMain .grids {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3);
  }
  .paddingMain .grids .item1, .paddingMain .grids .item2, .paddingMain .grids .item3 {
    height: 228px;
  }
  .paddingMain .grids .item1 .pomadas, .paddingMain .grids .item2 .pomadas, .paddingMain .grids .item3 .pomadas {
    width: 65%;
    height: 180px;
  }
  .paddingMain .grids .item2 {
    height: 225px;
  }
  .paddingMain .grids .item2 .lentes {
    width: 55%;
    height: 77%;
  }
  .paddingMain .grids .item3 {
    height: 225px;
  }
  .paddingMain .grids .item3 .vapers {
    width: 70%;
    height: 75%;
  }
  .main .paddingMain {
    padding-top: 90px;
  }
  .main .parteArriba {
    padding: 20px 0 0px 0;
  }
  .main .parteArriba .section-3 {
    padding: 20px 0 20px 0px;
  }
  .main .parteArriba .section-3 .redes {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .main .parteArriba .section-3 .redes a {
    font-size: 65%;
  }
  .main .parteArriba .section-3 .redes a .logoIgTiktok, .main .parteArriba .section-3 .redes a .logoGmail {
    width: 50px;
  }
  .main .parteArriba .section-3 .redes a .logoGmail {
    width: 50px;
  }
  .main .parteInfer {
    display: flex;
    flex-direction: column-reverse;
  }
  .main .parteInfer .parteIzq {
    width: 100%;
  }
  .main .parteInfer .parteIzq .d-flex {
    padding: 0px 10px 0 10px;
  }
  .main .parteInfer .parteDer {
    flex-direction: row;
    justify-content: center;
  }
  .main .parteInfer .parteDer p {
    margin-bottom: 8px;
  }
  .main .parteInfer .parteDer a {
    padding-left: 4px;
    font-size: medium;
  }
}
@media (max-width: 375px) {
  ul {
    flex-direction: column;
  }
  ul a {
    font-size: 70%;
  }
  h1 {
    font-size: x-large;
  }
  .main p {
    font-size: small;
    margin: 1%;
  }
  .main .derecha {
    margin: 15% 0 0 0;
  }
  .main .derecha .servicio {
    margin: 3% 0 3% 0;
  }
  .productos {
    font-size: x-large;
    padding: 15px 0 10px 0px;
  }
  .descProductos {
    font-size: smaller;
  }
  h3 {
    font-size: large;
  }
}
@media (max-width: 320px) {
  ul {
    flex-direction: column;
  }
  ul a {
    font-size: 70%;
  }
  h1 {
    font-size: large;
  }
  .main .orden .derecha {
    margin: 0;
  }
  .main .orden .derecha .servicio {
    margin: 5% 0 5% 0;
  }
  .productos {
    font-size: 25px;
  }
  .parteArriba h2 {
    font-size: large;
  }
}/*# sourceMappingURL=style.css.map */