footer{
    color: white;
    background-color: black;
    h4{
        font-family: $font-Playfair;
    }
    p{
        font-family: $font-Playfair;
    }
}

.row{
    margin: 0px;
    .logoWpp{
        width: 75px;
        height: 75px;
        &:hover{
            @include logo-animacion;
        }
    }
}