.paddingMain{
    padding-top: 100px;
    .productos{
        text-align: center;
        padding: 25px 0 20px 0px;
    }
    .descProductos{
        text-align: center;
        padding: 0px 0px 65px 0px;
    }
    h3{
        font-family: 'Abel', sans-serif;
        margin-bottom: 3%;
    }
    .grids{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        .item1{
            text-align: center;
            .pomadas{
                width: 85%;
                height: 55%;
                &:hover{
                    @include logo-animacion;
                }
            }
        }
        .item2{
            @extend .item1;
            .lentes{
                width: 90%;
                height: 70%;
                &:hover{
                    @include logo-animacion;
                }
            }
        }
        .item3{
            @extend .item1;
            .vapers{
                width: 90%;
                height: 55%;
                &:hover{
                    @include logo-animacion;
                }
            }
        }
    }
}