.main{
    height: 100vh;
    color: black;
    .parteArriba{
        .section-1{
            background-color: rgb(205, 141, 30);
            border-radius: 15%;
        }
        .ultima-foto{
            width: 100%;
            border-radius: 3%; 
            &:hover{
                filter: grayscale(80%);
            }
        }
        .section-3{
            background-color: rgb(158, 158, 158);
                border-radius: 15%;
            a{
                color: black;
                text-decoration-line: none;
                &:hover{
                    text-decoration: underline;
                }
                .logoIgTiktok{
                    width: 60px;
                    &:hover{
                        @include logo-animacion
                    }
                }
                .logoGmail{
                    @extend .logoIgTiktok;
                    &:hover{
                        @include logo-animacion
                    }
                }
            }
        }
    }
    .parteInfer{
        .parteIzq{
            width: 70%;
            a{
                color: black;
                text-decoration-line: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            .logoUbi{
                width: 9.5%;
                &:hover{
                    @include logo-animacion
                }
            }
            .logoHora{
                width: 10%;
            }
        }
        .parteDer{
            display: flex;
            flex-direction: column;
            p{
                color: black;
            }
            a{
                color: black;
                text-decoration-line: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}