@media (max-width: 1024px){
    header{
        nav{
            ul{
                justify-content: space-between;
                padding: 0px 35px 0px 0px;
                a{
                    font-size: 85%;
                }
            }
        }
        .logoBarber{
            width: 65px;
            height: 65px;
        }
    }

.main{
    .orden{
        margin: 0px;
        .izquierda{
            width: 100%;
                    .pResponsive{
                        padding-top: 15%;
                    }
            }
        .derecha{
            width: 100%;
            margin: 8% 0 5% 0;
            .servicio{
                text-align: center;
            }
        }
    }
}

.paddingMain{
    .productos{
        padding: 15px 0 20px 0px;
    }
}

    .ultima-foto{
        width: 100%;
    }
    a{
        font-size: 76%;
    }
    .ubicacion {
        font-size: 16px;
    }

    .alignFooter{
        display: flex;
        flex-direction: column;
    }
    }